# Variabel

In [1]:
# membuat variabel dengan nilai string
nama = 'Shift'
print(nama)

Shift

In [2]:
# membuat tuple dengan nilai interger
angka = 5
print(angka)

5

In [3]:
umur = 20
print(umur)
type(umur)

20

int

In [4]:
umur = "dua puluh satu"
print(umur)
type(umur)

dua puluh satu

str

In [5]:
namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
print(nama)

Budi Susanto

In [6]:
umur = 22
hobi = "berenang"
print("Biodata:\n", nama, "\n", umur, "\n", hobi)

Biodata:
 Budi Susanto
 22
 berenang

In [7]:
inivariabel = 'Halo'
ini_variabel = 'Halo'
ini_juga_variabel = 'Hai'
_iniJugaVariabel = 'Hi'
iniVariabel333 = 'Hai'

In [8]:
panjang = 10
lebar = 6
luas = panjang * lebar
luas

60

In [9]:
nama = 'Shift'
usia = 22
sudah_menikah = False
print("nama : ", nama)
print("usia : ", usia)
print("status : ", sudah_menikah)

nama :  Shift
usia :  22
status :  False

In [10]:
"halo" * 3

'halohalohalo'

In [11]:
a, b, c = 1, 2, "Mantap"
print(' a : ', a)
print(' b : ', b)
print(' c : ', c)

 a :  1
 b :  2
 c :  Mantap

In [12]:
d = e = f = 10
print('d : ', d)
print('e : ', e)
print('f : ', f)

d :  10
e :  10
f :  10

In [13]:
panjang = 5
lebar = 10.5
luas = panjang * lebar

print(panjang, '*', lebar, '=', luas)
print('tipe data panjang: ', type(panjang))
print('tipe data lebar: ', type(lebar))
print('tipe data luas: ', type(luas))

5 * 10.5 = 52.5
tipe data panjang:  <class 'int'>
tipe data lebar:  <class 'float'>
tipe data luas:  <class 'float'>

In [14]:
a = 5j
b = 10j
c = a + b

print(a, '+', b, '=', c)
print('tipe data a: ', type(a))
print('tipe data b: ', type(b))
print('tipe data c: ', type(c))

5j + 10j = 15j
tipe data a:  <class 'complex'>
tipe data b:  <class 'complex'>
tipe data c:  <class 'complex'>

# List

In [15]:
List = []

In [16]:
List = ['Women Dancing in Moonlight']
print('\nList with the use of the string : ')
print(List)

List with the use of the string :
['Women Dancing in Moonlight']

In [17]:
List = ['Women', 'Dancing', 'in', 'Moonlight']
print(List[0])

Women

In [18]:
print(List[-1])

Moonlight

In [19]:
print(List[-2])

in

In [20]:
# nested list
List = [['Woman', 'Dancing'], ['in', 'Moonlight']]
print(List)

[['Woman', 'Dancing'], ['in', 'Moonlight']]

# Tuple

In [21]:
# membuat tuple kosong
Tuple = ()

In [22]:
# membuat tuple
Tuple1 = ('ini', 'shift')
print(Tuple1)

('ini', 'shift')

In [23]:
# tuple diubah menjadi list
list1 = [1, 2, 3, 4, 5]
print(tuple(list1))

(1, 2, 3, 4, 5)

In [24]:
# string dijadikan tuple
Tuple1 = tuple('Shift')
print(Tuple1)

('S', 'h', 'i', 'f', 't')

# Slicing

In [25]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2 : 7])

['c', 'd', 'e', 'f', 'g']

In [26]:
print(L[-7 : -2])

['c', 'd', 'e', 'f', 'g']

In [27]:
print(L[2 : 7 : 2])

['c', 'e', 'g']

In [28]:
print(L[6 : 1 : -2])

['g', 'e', 'c']

In [29]:
print(L[:3])

['a', 'b', 'c']

In [30]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:])

['g', 'h', 'i']

In [31]:
print(L[::-1])

['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [32]:
L = ['a', 'b', 'c', 'd', 'e']
L[1 : 4] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'e']

In [33]:
L[1 : 2] = [1, 2, 3]

In [34]:
print(L)

['a', 1, 2, 3, 2, 3, 'e']

In [35]:
L = ['a', 'b', 'c', 'd', 'e']

In [36]:
L[1:5] = []
print(L)

['a']

# Manipulate List

In [37]:
random_list = [1, 2, 3, 4]

In [38]:
random_list.index(4)

3

In [39]:
random_list.index(2)

1

In [40]:
x = [3, 7, 2, 11, 8, 10, 4]
x.sort()
print(x)

[2, 3, 4, 7, 8, 10, 11]

In [41]:
x.sort(reverse=True)
print(x)

[11, 10, 8, 7, 4, 3, 2]

In [42]:
print(x)

[11, 10, 8, 7, 4, 3, 2]

In [43]:
x.append(3)

In [44]:
print(x)

[11, 10, 8, 7, 4, 3, 2, 3]

In [45]:
x.insert(4, [4, 5])

In [46]:
print(x)

[11, 10, 8, 7, [4, 5], 4, 3, 2, 3]

In [47]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [48]:
del L[1:5]

In [49]:
print(L)

['a', 'f', 'g', 'h', 'i']

In [50]:
print(x)

[11, 10, 8, 7, [4, 5], 4, 3, 2, 3]

In [51]:
x.remove(10)

In [52]:
print(x)

[11, 8, 7, [4, 5], 4, 3, 2, 3]

In [53]:
x.pop(3)

[4, 5]

In [54]:
print(x)

[11, 8, 7, 4, 3, 2, 3]